<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
    <article class="post">

	  <header class="post-header">
	    <h1 id="pagetitle">{{ page.title }}</h1>
	  </header>

	  <div class="post-content">
	    {{ content }}
	  </div>

	</article>
    </div>

    {% include footer.html %}

  </body>

</html>
